.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .main-menu .navigation > li > ul > li > a{
	text-align: right;
}

.rtl .banner-section.banner-one .banner-carousel .content-box .inner{
	text-align: right;
}

.rtl .about-section .text-column .inner{
	text-align: right;
}

.rtl .list-style-one li{
	padding-left: 0px;
	padding-right: 24px;
}

.rtl .list-style-one li:before{
	left: inherit;
	right: -5px;
}

.rtl .about-section .author-info{
	display: block;
}

.rtl .about-section .author-info:before{
	left: inherit;
	right: 0px;
}

.rtl .about-section .author-info .signature{
	float: right;
	margin-right: 0px;
	margin-left: 30px;
}

.rtl .about-section .year-experience{
	left: inherit;
	right: 0px;
	text-align: right;
}

.rtl .services-section .sec-title{
	text-align: right;
}

.rtl .default-bg-section .content-box{
	text-align: right;
}

.rtl .fact-counter .counter-column .inner{
	padding-left: 20px;
	padding-right: 140px;
	text-align: right;
}

.rtl .fact-counter .counter-column .inner .icon{
	left: inherit;
	right: 0px;
}

.rtl .fact-counter .upper-title:before{
	left: inherit
	right: 0px;
}

.rtl .case-block .content-box .title-box .icon{
	right: inherit;
	left: 33px;
}

.rtl .case-block .content-box{
	text-align: right;
}

.rtl .appointment-section .text-column .inner{
	text-align: right;
}

.rtl .service-block-two .inner-box{
	padding-left: 0px;
	padding-right: 125px;
}

.rtl .service-block-two .icon-outer{
	left: inherit;
	right: 0px;
}

.rtl .testimonial-block .inner{
	text-align: right;
}

.rtl .testimonial-block .info{
	margin-left: 0px;
	margin-right: 25px;
	padding-left: 0px;
	padding-right: 95px;
}

.rtl .testimonial-block .info .image{
	left: inherit;
	right: 0px;
}

.rtl .news-block .lower-box{
	text-align: right;
}

.rtl .news-block .lower-box .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .news-block .lower-box .meta-info li:last-child{
	margin: 0px;
}

.rtl .news-block .lower-box .meta-info li:after{
	right: inherit;
	left: -16px;
}

.rtl .banner-carousel .content-box .content{
	text-align: right;
}

.rtl .service-block-three .inner-box{
	padding-left: 0px;
	padding-right: 90px;
	text-align: right;
}

.rtl .service-block-three .icon-outer{
	left: inherit;
	right: 0px;
}

.rtl .about-section-two .sec-title{
	text-align: right;
}

.rtl .about-section-two .right-column .inner{
	text-align: right;
}

.rtl .case-block-two .content-column .content-box{
	text-align: right;
}

.rtl .fun-facts-section.alternate .fact-counter .counter-column .inner{
	text-align: right;
}

.rtl .fact-counter .upper-title:before{
	left: inherit;
	right: 0px;
}

.rtl section.team-section{
	text-align: right;
}

.rtl .contact-section .text-column .inner{
	text-align: right;
}

.rtl .locations-section .map-box .location-point .inner{
	text-align: right;
}

.rtl .default-bg-section .content-box{
	text-align: right;
}

.rtl .inner-banner .inner{
	text-align: right;
}

.rtl .about-section-three .text-column .inner{
	text-align: right;
}

.rtl .call-to-action .title-column .inner{
	text-align: right;
}

.rtl .accordion-box .block{
	text-align: right;
}

.rtl .service-block-four .inner-box{
	text-align: right;
}

.rtl .service-block-four .icon-outer{
	left: inherit;
	right: 0px;
}

.rtl .case-block .content-box{
	text-align: right;
}

.rtl .sidebar-page-container .services-sidebar{
	text-align: right;
}

.rtl .sidebar .services-widget ul li a{
	padding-right: 20px;
	padding-left: 50px;
}

.rtl .sidebar .services-widget ul li a:before{
	right: inherit;
	left: 0px;
	border-left: none;
	border-right: 1px solid rgba(0,0,0,0.07);
}

.rtl .service-details{
	text-align: right;
}

.rtl .case-single-section .case-inner{
	text-align: right;
}

.rtl .news-block .lower-box{
	text-align: right;
}

.rtl .news-block .lower-box .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .news-block .lower-box .meta-info li:last-child{
	margin: 0px;
}

.rtl .news-block .lower-box .meta-info li:after{
	right: inherit;
	left: -16px;
}

.rtl .news-block-three .lower-box{
	text-align: right;
}

.rtl .news-block-three .lower-box .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .news-block-three .lower-box .meta-info li:after{
	right: inherit;
	left: -16px;
}

.rtl .news-block-three .more-link{
	text-align: left;
	padding-left: 50px;
}

.rtl .sidebar-title{
	text-align: right;
}

.rtl .widget ul li{
	text-align: right;
}

.rtl .widget_categories ul li a{
	padding-left: 0px;
	padding-right: 22px;
}

.rtl .widget_categories ul li a:before{
	left: inherit;
	right: 0px;
	transform: rotate(180deg);
}

.rtl .recent-posts .sidebar .post{
	text-align: right;
	padding-left: 0px;
	padding-right: 100px;
}

.rtl .recent-posts .sidebar .post-thumb{
	left: inherit;
	right: 0px;
}

.rtl .recent-posts .sidebar .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .tagcloud{
	text-align: right;
}

.rtl .recent-posts .sidebar .meta-info li:last-child{
	margin: 0px;
}

.rtl .tagcloud a{
	margin-right: 0px;
	margin-left: 6px;
}

.rtl .contact-section-two .text-column .inner{
	text-align: right;
}

.rtl .default-form{
	text-align: right;
}

.rtl .contact-info-block .content-box{
	text-align: right;
}


.rtl .banner-carousel{
	direction: ltr;
}

.rtl .main-header .header-upper .right-nav{
	float: left;
}

.rtl .main-header .header-upper .logo-box{
	float: right;
}

.rtl .main-header .search-btn{
	float: left;
	margin-left: 0px;
	margin-right: 40px;
}

.rtl .main-header .nav-outer{
	float: right;
}

.rtl .main-menu .navigation > li{
	float: right;
}

.rtl .testimonial-carousel{
	direction: ltr;
}

.rtl .news-block .lower-box .meta-info li i{
	margin-right: 0px;
	margin-left: 9px;
}

.rtl .header-top-one .info li .icon{
	padding-right: 0px;
	padding-left: 8px;
}

.rtl .main-header .header-top .top-right{
	float: left;
}

.rtl .main-header .header-top .top-left{
	float: right;
}

.rtl .header-top-one .language .lang-dropdown li a{
	text-align: right;
}

.rtl .about-section-two .left-column .image .over-icon{
	right: inherit;
	left: -81px;
}

.rtl .cases-carousel-two{
	direction: ltr;
}

.rtl .ui-menu .ui-menu-item{
	text-align: right;
}

.rtl .main-footer .links-widget .widget-content{
	text-align: right;
}

.rtl .newsletter-form .form-group input[type="text"], 
.rtl .newsletter-form .form-group input[type="tel"], 
.rtl .newsletter-form .form-group input[type="email"], 
.rtl .newsletter-form .form-group textarea{
	padding-right: 70px;
}

.rtl .main-footer .links-widget .links li:before{
	left: inherit;
	right: 0px;
	transform: rotate(180deg);
}

.rtl .main-footer .about-widget{
	text-align: right;
}

.rtl .services-section .bottom-text .text h2{
	padding-left: 0px;
	padding-right: 75px;
	text-align: right;
}

.rtl .services-section .bottom-text .text h2:before{
	left: inherit;
	right: 0px;
}

.rtl .services-section.azim_new .bottom-text .text .btn-titlexx{
	right: inherit;
	left: 0px;
}

.rtl .appointment-section .form-box .default-form{
	text-align: center;
}

.rtl .sponsors-carousel{
	direction: ltr;
}

.rtl .search-popup .search-form fieldset input[type="search"]{
	padding-right: 250px;
}

.rtl .scroll-to-top{
	right: inherit;
	left: 50px;
}

.rtl .mobile-menu .navigation li > a{
	text-align: right;
}

.rtl .mobile-menu .navigation li > a:before{
	left: inherit;
	right: 0px;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
	right: inherit;
	left: 10px;
}

.rtl .three-item-carousel{
	direction: ltr;
}

.rtl .call-to-action .links-column .inner{
	text-align: left;
}

.rtl .inner-banner.alternate .inner{
	text-align: center;
}

.rtl .service-block-four .inner-box{
	padding-left: 0px;
	padding-right: 90px;
}

.rtl .inner-banner .d-text:before{
	left: inherit;
	right: 0px;
}

.rtl .inner-banner.alternate .d-text:before{
	right: inherit;
	left: 50%;
}

.rtl .case-single-section .case-inner .cases-title h2{
	padding-right: 0px;
	padding-left: 40px;
	border-right: none;
	border-left: 1px solid #cccccc;
}

.rtl .main-menu .navigation > li:last-child{
	margin-right: 40px;
}

.rtl blockquote{
	border-left: none;
	border-right: 3px solid #4a3d8f;
}

.rtl .post-details{
	text-align: right;
}

.rtl .price-carousel{
	direction: ltr;
}

.rtl .cases-carousel{
	direction: ltr;
}

.rtl .bkr003 .pricing-6 .price-block .inner-box{
	text-align: right;
}

.rtl .bkr003 .pricing-6 .price-block .inner-box .upper-box .pull-left{
	float: right;
}

.rtl .bkr003 .pricing-6 .price-block .inner-box .upper-box .pull-right{
	float: left;
}

.rtl .bkr003 .pricing-6 .price-block .inner-box .lower-box ul li{
	padding-left: 0px;
	padding-right: 22px;
}

.rtl .bkr003 .pricing-6 .price-block .inner-box .lower-box ul li:before{
	left: inherit;
	right: 0px;
}

.rtl .service-ex-block-two .inner-box .lower-content .text{
	padding-left: 0px;
	padding-right: 105px;
	text-align: right;
}

.rtl .service-ex-block-two .inner-box .lower-content .icon-box{
	left: inherit;
	right: 30px;
}

.rtl .service-ex-block-two .inner-box .lower-content .text .link a i{
	margin-right: 0px;
	margin-left: 10px;
}

.rtl .content_block_1 .content-box{
	text-align: right;
}

.rtl .list-style-two li{
	padding-left: 0px;
	padding-right: 45px;
}

.rtl .list-style-two li:before{
	left: inherit;
	right: 0px;
}

.rtl .funfact-block-one .inner-box{
	padding-left: 0px;
	padding-right: 95px;
	text-align: right;
}

.rtl .funfact-block-one .inner-box .icon-box{
	left: inherit;
	right: 0px;
}

.rtl .content_block_2 .content-box{
	text-align: right;
}

.rtl .progress-box .bar-inner .count-text{
	right: inherit;
	left: -15px;
}

.rtl .content_block_2 .content-box .sec-title .icon{
	left: inherit;
	right: 0px;
}

.rtl .content_block_4 .content-box{
	text-align: right;
}

.rtl .content_block_4 .content-box .sec-title .icon{
	left: inherit;
	right: 0px;
}

.rtl .content_block_4 .content-box .inner-box .single-item{
	padding-left: 0px;
	padding-right: 105px;
}

.rtl .content_block_4 .content-box .inner-box .single-item .icon-box{
	left: inherit;
	right: 0px;
}

.rtl .pricing-block-one .pricing-table{
	text-align: right;
}

.rtl .pricing-block-one .pricing-table .table-content li{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .pricing-block-one .pricing-table .table-content li:before{
	left: inherit;
	right: 0px;
}

.rtl .cta-ex-section-two .text{
	text-align: right;
}

.rtl .news-ex-block .inner-box .lower-content{
	text-align: right;
}

.rtl .image_block_6 .image-box{
	margin-left: 0px;
	margin-right: -120px;
}

.rtl .image_block_7 .image-box{
	margin-right: 0px;
	margin-left: 40px;
}

.rtl .pricing-block-one .pricing-table .price-box{
	right: inherit;
	left: 25px;
}

.rtl .news-ex-block .inner-box .lower-content .post-info li{
	margin-right: 0px;
	margin-left: 20px;
}

.rtl .news-ex-block .inner-box .lower-content .post-info li:before{
	right: inherit;
	left: -12px;
}

.rtl .banner-style-three .content-box .image-box .image-3{
	left: 30px;
}

.rtl .feature-ex-section .single-item .inner-box{
	text-align: right;
}

.rtl .cta-ex-section .text h2{
	text-align: right;
}

.rtl .service-ex-block .inner-box{
	text-align: right;
	padding-left: 30px;
	padding-right: 130px;
}

.rtl .service-ex-block .inner-box .icon-box{
	left: inherit;
	right: 30px;
}

.rtl .chooseus-ex-section .right-column .content-box{
	text-align: right;
}

.rtl .chooseus-ex-section .right-column .content-box .sec-title .icon{
	left: inherit;
	right: 0px;
}

.rtl .chooseus-ex-section .right-column .single-item{
	padding-left: 0px;
	padding-right: 105px;
	text-align: right;
}

.rtl .chooseus-ex-section .right-column .single-item .icon-box{
	left: inherit;
	right: 0px;
}

.rtl .funfact-block-two .inner-box{
	text-align: right;
	padding-left: 0px;
	padding-right: 95px;
}

.rtl .funfact-block-two .inner-box .icon-box{
	left: inherit;
	right: 0px;
}

.rtl .pricing-ex-section .content-box{
	text-align: right;
}

.rtl .testimonial-ex-section-two .testimonial-content{
	text-align: right;
}

.rtl .testimonial-ex-section-two .testimonial-content .author-info{
	padding-left: 0px;
	padding-right: 85px;
}

.rtl .testimonial-ex-section-two .testimonial-content .author-info .quote{
	right: inherit;
	left: 20px;
}

.rtl .testimonial-ex-section-two .testimonial-content .author-info .author-thumb{
	left: inherit;
	right: 0px;
}

.rtl section#appoinment_content{
	text-align: right;
}

.rtl .information_details{
	padding-right: 30px;
}

.rtl .bkr003 .pricing-8 .content-column .inner{
	text-align: right;
}

.rtl .bkr003 .pricing-8 .sec-title-two .title{
	padding-left: 0px;
	padding-right: 76px;
}

.rtl .bkr003 .pricing-8 .sec-title-two:before{
	left: inherit;
	right: 0px;
}

.rtl .theme_carousel{
	direction: ltr;
}

.rtl .bkr003 .team-1 .social-icon-two li{
	margin-right: 0px;
	margin-left: 25px;
}

.rtl .team-member-info-box{
	text-align: right;
}

.rtl .team-member-content-box{
	text-align: right;
}

.rtl .skills-area{
	text-align: right;
}

.rtl .five.team-single-area{
	text-align: right;
}

.rtl .resume .info-box ol li{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .resume .info-box ol li:before{
	left: inherit;
	right: 0px;
}

.rtl .resume .info-box ol li:after{
	left: inherit;
	right: 10px;
}

.rtl .sticky-header .main-menu .navigation > li:last-child{
	margin-right: 0px;
}

.rtl .woocommerce table.shop_table{
	text-align: right;
}

.rtl .woocommerce-checkout #payment ul.payment_methods li{
	text-align: right;
}

.rtl .default-form .form-group input[type="text"], 
.rtl .default-form .form-group input[type="email"], 
.rtl .default-form .form-group input[type="password"], 
.rtl .default-form .form-group input[type="tel"], 
.rtl .default-form .form-group input[type="url"], 
.rtl .default-form .form-group input[type="file"], 
.rtl .default-form .form-group input[type="number"], 
.rtl .default-form .form-group textarea, 
.rtl .default-form .form-group select{
	text-align: right;
}

.rtl .ui-selectmenu-text{
	text-align: right;
}

.rtl .main-header .header-upper .right-info{
	float: left;
}

.rtl .banner-style-three .content-box .image-box .image-1{
	left: 30px;
}

.rtl .pricing-block-one .pricing-table .table-footer a i{
	margin-right: 0px;
	margin-left: 10px;
}

.rtl .news-ex-block .inner-box .lower-content .link a i{
	margin-right: 0px;
	margin-left: 10px;
}

.rtl .cta-ex-section-two .cta-btn{
	margin-right: 0px;
	margin-left: 16px;
}

.rtl .cta-ex-section .btn-box .btn-style-two{
	margin-right: 0px;
	margin-left: 15px;
}

.rtl .service-ex-block .inner-box .link a i{
	margin-right: 0px;
	margin-left: 10px;
}

.rtl .pricing-ex-section .pr-content .pr-tab{
	left: inherit;
	right: 0px;
}